/* CanvasComponent.css */

.visualise-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 30px;
  }
  
  .tools-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: center; /* Center the buttons horizontally */
  }
  
  .tools-container button {
    margin: 5px;
  }
  
  canvas {
    border: 1px solid black;
    max-width: 100%;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .tools-container {
      flex-direction: column;
      align-items: center;
    }
  
    .tools-container button {
      margin: 5px 0;
    }
  }
  